<div class="container">
  <div class="row">
    <div class="col">
      Choose your language
      <hr />
      <p>{{ message$ | async }}</p>
      <button type="button" (click)="displayEnglish()" class="btn btn-success">
        English
      </button>
      |
      <button type="button" (click)="displayFrench()" class="btn btn-success">
        French
      </button>
      <hr />
      <hr />

      <input type="text" [(ngModel)]="postText" class="form-control" />

      <hr />
      <button type="button" class="btn btn-success" (click)="newVote(postText)">
        New Vote
      </button>
      |
      <button type="button" (click)="resetVote()" class="btn btn-success">
        Reset
      </button>
      <p>
        Value : {{ (vote | async).text }} Likes : {{ (vote | async).likes }}
      </p>
      <hr />

      <button type="button" class="btn btn-success" (click)="upVote()">
        Up Vote
      </button>
      |
      <button type="button" (click)="downVote()" class="btn btn-success">
        Down Vote
      </button>
      <p>Votes :</p>
    </div>
  </div>
</div>
